<link rel="stylesheet" href="/css/home.css">
<main>
<div id="container">
<h1><%= title %></h1>
<section id ="feed-posts">
    <h2>Posts</h2>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea placeholder="Type here.." name="content" cols="40" rows="5"></textarea><br>
        <input class="but2"  type="submit" value="Post">
    </form>
</section>


<div id ="posts-list-container">
    <ul>
        <% for(post of posts) { %>
            <li  class="comments">
            <p>
                   <b><%= post.content %></b><br>
                    <small>
                       - <%= post.user.first_name %>
                    </small>
            </p>
            <div class="post-comment">
                <% if (locals.user) { %>
                <form action="/comments/create" method="POST">
                    <input class="type" type="text" name="content" placeholder="Type here to comment..">
                    <input type="hidden" name="post" value="<%=post._id %>">
                    <input class="but2" type="submit" value="Add Comment">
                </form>
            <% } %>
                <div class="post-comments-list">
                    <ul id="post-comments-<%= post._d %>">
                        <% flag = 0 %>
                        <% for (comment of post.comments) { %>
                            <% if(post.comments.length >0 && flag==0){ %>
                                <h3><u>Comments</u></h3>
                                <% flag++ %>
                            <% } %>
                        <p>
                            <%= comment.content %>
                            <br>
                            <small>
                                - <%= comment.user.first_name %>
                            </small>
                        </p>
                        <%  } %>
                    </ul>
                </div>
            </div>
        </li>
        <%  } %>
    </ul>
</div>
</div>
</main>
 