<link rel="stylesheet" href="/css/signup.css">
<div style="height: 100vh;" id="container">
<div id="welcome">
</div>
<div style="text-align: center;  color:rgba(0, 0, 0, 0.568) ;
font-weight: bolder;" id="asidelogin">
<form class="formdata" id="bellowlogin" action="/users/create" method="POST"  >
        <h2><b> Create a new account </b></h2>
        <h4>It's quick and easy.</h4>

        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="surname" placeholder=" Surname" required><br><br>
        <input type="email" name="email" placeholder="Mobile number or email address" required><br><br>
        <input type="password" name="password" placeholder="New password" required><br><br>
        <input type="password" name="confirm_password" placeholder="Confirm password" required><br><br>
       <label>Birthday</label><br><br>
        <select id="date" name="date" form="birthday">
            <% for (let i=1; i<=30 ; i++) { %> 
                <option value="<%= i %>"><%=i %></option>
             <% } %>
        </select>
        <select id="date" name="month" form="birthday">
            <% for (let i of month) { %> 
                <option value="<%= i %>"><%=i %></option>
             <% } %>
        </select>
        <select id="date" name="year" form="birthday">
            <% for (let i = 1905 ; i <= 2020; i++) { %> 
                <option value="<%= i %>"><%=i %></option>
             <% } %>
        </select><br><br> 
        <input id="but2" type="submit" value="Signup">
    </form>
</div>
</div>
